{% extends 'includes/base.html' %}
{% load static %}
{% block content %}


{% for post in object_list %}
    <div class="blog_post">
            <div class="images_blog">
                {% if post.header_image %}
                    <img src="{{ post.header_image.url }}">
                {% endif %}
            </div>
        <li class="post">
            <div class="date_time_blog">
            <strong>{{ post.post_date }}</strong> 
            </div>
            <div class="author_blog">
            {{ post.author}}
            </div>
            <div class="post-title">
                <h1 id="post-title">{{ post.title }}</h1>
                </a>
            </div>
            <div class="body_post">
                
                <p>{{ post.body|truncatechars:145 }} </p>
            </div>
            <div class="possibilities">
                <div class="learn_more_blog">
                    <a href="{% url 'blog:article-detail' post.pk %}" >Learn More</a>
                </div>
                {% if user.is_authenticated %}

                    {% if user.is_superuser or user.id == post.author.id %}
                        <div class="edit_button">
                            <a href="{% url 'blog:update-post' post.pk %}" class="edit-link">Edit Post</a>
                        </div>
                        <div class="delete_button">
                            <a href="{% url 'blog:delete-post' post.pk %}" class="delete-link">Delete Post</a>
                        </div>
                        
                    {% endif %}
                {% endif %}
            </div>
        </li>
    </div>
{% endfor %}


 

<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span class="current-page">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
</div>
{% endblock %}
