{% load static %}
<!--Start: Footer-->
<div class="footer">
  <div class="our-address">
    <img src="{% static 'images/logo.png.png' %}" alt="" height="100px" width="200px"  class="logo_footer" >
    <button class="phone-button">
      <i class="fa-solid fa-phone fa-lg" style="color: #ffffff;"></i>
      <a href="tel:+387600000000">+387 60 000 0000</a>
    </button>
    <p>Got Questions? Call us 24/7</p>
    <h1>Our Address</h1>
    <p>92 Bowery St., New York, NY 10013</p>
    <img src= "{% static 'images/fb.jpg' %}" height="30px" width="30px">
    <img src="https://i.pinimg.com/736x/d5/fa/dd/d5fadd01ed5a2480b588e355c0370507.jpg" height="30px" width="30px">
  </div>
  
  <div class="help">
    <div class="help-container">
      <div class="help1">
        <h1>Help</h1>
        <p>Pet Services</p>
        <p>Careers</p>
        <p>Help Center</p>
        <p>Treats Program</p>
        <p>Charities</p>
        <p>Company</p>
      </div>
      <div class="help2">
        <p>Company</p>
        <p>Sitemap</p>
        <p>Our Services</p>
        <p>Contacts</p>
        <p>Privacy</p>
        <p>FAQ</p>
      </div>
    </div>
  </div>

  <div class="gallery">
    <h1>Gallery</h1>
    <div class="row">
      <img src="{% static 'images/cukomaca.jpg' %}" alt="" width="80px" height="80px">
      <img src="{% static 'images/zeko.jpg' %}" alt=""  width="80px" height="80px">
      <img src="{% static 'images/papagaji.jpg' %}" alt=""width="80px" height="80px">
    </div>
    <div class="row">
      <img src="{% static 'images/konjic.jpg' %}" alt=""width="80px" height="80px">
      <img src="{% static 'images/hrcakk.jpg' %} " alt=""width="80px" height="80px">
      <img src="{% static 'images/ovcica.jpg' %}" alt=""width="80px" height="80px">
    </div>
  </div>

  <div class="working-hours">
    <h1>Working Hours</h1>
    <div class="time-wrapper">
      <div class="calendar-wrapper">
        <div class="calendar">
          <div class="day">
            <p>Mon - Fri:</p>
            <p>Saturday:</p>
            <p>Sunday:</p>
          </div>
        </div>
      </div>
      <div class="hours-wrapper">
        <div class="hours">
          <div class="work-hours">
            <p>7am – 6pm</p>
            <p>9am – 4pm</p>
            <p>Closed</p>
          </div>
      </div>
    </div>
  </div>
<!--End: Footer-->